VST
NRG
PCG
NEE
SO
DUK
NGG
XEL
AEP
D
EXC
WEC
AWK
EIX
ES
DTE
AEE
FE
ETR
FTS
PPL
CNP
ATO
CMS
BIP
AGR
EVRG
LNT
NI
WTRG
PNW
SBS
OGE
BEPC
AQN
UGI
IDA
BIPC
NEP
POR
NJR
OGS
FLNC
PNM
ALE
AWR
NWE
CWT
MGEE
TAC
AVA
RNW
SJW
HE
MSEX
SPH
UTL
YORW
GNE
CWCO
AQNU
NIMC
CEG
ELP
EBR
BKH
OTTR
SR
CPK
